<div class="jumbotron">
	<h1>All tracks</h1>
</div>
<hr/>

<% if @tracks %>
	<% @tracks.each do |track| %>
		<div class="post">
			<h3><a href="/posts/<%= track.id %>"><%= track.title %></a>
					<small>(by: <%= track.artist %>)</small>
			</h3>
			<div class="row">
				<div class="col-sm-8">
				<%if track.url?%>
					<div class="embed-responsive embed-responsive-4by3"  width="300" height="100">
  					<iframe class="embed-responsive-item" src="<%= track.url %>"></iframe>
					</div>
				<%end%>
			</div>
		</div>
		<%if (user = User.find_by(id: track.user_id)) %>
			<h5>Post by: <%= user.username %></h5>
			<h5>Number of posts by this user: <%= user.tracks.count %></h5>
		<%else %>
			<h5>Post by: Unknown</h5>
		<%end%>
		<a href="/upvote/<%= track.id %>" class="btn btn-info">
			<span class="glyphicon glyphicon-plus"></span> Upvote (<%=track.num_votes%>)
		</a>
		<p></p>
		<small>Created at: <%=track.created_at%></small>
		<hr/>
		</div>
	<% end %>
<% else %>
	<h3>You have no tracks at the moment!</h3>
<% end %>
<hr/>
<a href="posts/new" class="btn btn-info">
	<span class="glyphicon glyphicon-plus"></span> Post
</a>
<a href="/" class="btn btn-info" role="button">Home</a>
